<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.harni.pkm"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />

    <application
        android:name="id.harni.help.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SplashActivity"
            android:label="@string/title_activity_splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".UsahaActivity"
            android:label="@string/title_activity_usaha" >
        </activity>
        <activity
            android:name=".DetailUsahaActivity"
            android:label="@string/title_activity_detail_usaha" >
        </activity>
        <activity
            android:name=".KegiatanActivity"
            android:label="@string/title_activity_kegiatan" >
        </activity>
        <activity
            android:name=".PKMActivity"
            android:label="@string/title_activity_pkm" >
        </activity>
        <activity
            android:name=".SetPicActivity"
            android:label="@string/title_activity_set_pic" >
        </activity>
    </application>

</manifest>
